{
	"presets": [
		[
			"@babel/preset-env"
		]
	],
	"ignore": [
		"node_modules/",
		"public/"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./src"
				],
				"alias": {
					"@": "./src",
					"@components": "./src/components",
					"@pages": "./src/pages",
					"@plugins": "./src/plugins"
				}
			}
		]
	]
}
